---
http_interactions:
- request:
    method: get
    uri: https://quotes.rest/qod.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Auth-Status:
      - 'true'
      X-Ratelimit-Limit:
      - 10 per hour
      X-Ratelimit-Remaining:
      - '7'
      Content-Language:
      - en
      Upgrade:
      - h2
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "success": {
                "total": 1
            },
            "contents": {
                "quotes": [
                    {
                        "quote": "It wasn't raining when Noah built the ark....",
                        "length": "45",
                        "author": "Howard Ruff",
                        "tags": [
                            "being-prepared",
                            "inspire",
                            "tod"
                        ],
                        "category": "inspire",
                        "date": "2020-01-21",
                        "permalink": "https://theysaidso.com/quote/howard-ruff-it-wasnt-raining-when-noah-built-the-ark",
                        "title": "Inspiring Quote of the day",
                        "background": "https://theysaidso.com/img/bgs/man_on_the_mountain.jpg",
                        "id": "bcYwS_RS1KCvfQ_ymsXk0AeF"
                    }
                ],
                "copyright": "2017-19 theysaidso.com"
            }
        }
  recorded_at: Tue, 21 Jan 2020 20:33:34 GMT
recorded_with: VCR 5.0.0
